//output:client.html

doctype html
head
  title WebRTCnetmesh Chat Example
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href="client.css")
  script(src="client.dart", type="application/dart", charset="utf-8")

body
  section#contacts
    .self
      .name Sorpi
      img.condition(src="assets/mic-mute.svg")
      img.condition(src="assets/film.svg")
      .camera
    .contact
      .name Nico
      img.condition(src="assets/speaker.svg")
      img.condition(src="assets/film.svg")
      .camera
    .contact
      .name Juan
      img.condition(src="assets/speaker-mute.svg")
      img.condition(src="assets/film.svg")
      .camera
    .contact
      .name Pepe
      img.condition(src="assets/speaker.svg")
      img.condition(src="assets/film-not.svg")
    .contact
      .name Yuan
      img.condition(src="assets/speaker-mute.svg")
      img.condition(src="assets/film.svg")
      .camera
  section#chat
    .message-line.message-line--info Welcome
    .message-line.message-line--server Registered as "Sorpi"
    .message-line.message-line--message(data-user="Pepe") Hola, Sorpi
  section#sender
    input#message-input(placeholder="Message to send")
    button#send-button Send
  #registration
    h1 Welcome to WebRTCnetmesh's Chat Example!
    p.
      Please choose a nickname in order to login
    input#registration__nickname(autocomplete="nickname", placeholder="yourNickname (only letters and no spaces)")
    button#registration__connect(disabled) Connect
