p 1997
html,
body
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif
    background-color: orange

$height-chat-square: 90%
$width-chat-square: 70%
$height-sender: 30px

$contacts-width: 20%

$marg-top: 30px
$marg-sides: 5%

$condition-size: 25px

$min-width-video: 320px

.camera
  background-image: url("assets/anon.svg")
  background-size: cover
  margin-top: 5px

img.condition
  width: $condition-size
  height: $condition-size
  cursor: pointer

#contacts
  width: $contacts-width
  height: $height-chat-square
  background-color: rgb(250,220,210)
  float: right
  margin-right: $marg-sides - 1
  overflow-y: scroll
  min-width: $min-width-video

  .self
    .name
      font: 25px Arial
      text-align: center
      width: 100%
    background-color: #CCC
    padding: 15px
    display: flex
    flex-wrap: wrap
    justify-content: center
    .camera
      min-width: $min-width-video * .75
      width: 100%
      height: $min-width-video / 4 * 3 *.75
    .condition
      width: $condition-size + $condition-size * 0.25
      height: $condition-size + $condition-size * 0.25
      &:last-child
        margin-left: 5px
  .contact
    border-top: 2px solid rgba(0,0,255,0.2)
    padding: 5px
    font-size: 18px
    display: flex
    flex-wrap: wrap
    .camera
      flex: 1 1 320px
      width: $min-width-video
      height: $min-width-video / 4 * 3
    .condition, .name
      display: inline-block
    .name
      font-size: 18px
      vertical-align: super

@mixin modal

  &:before
    content: ""
    display: block
    position: fixed
    top:    0
    left:   0
    bottom: 0
    right:  0
    z-index: -10

    background-color: rgba(0,0,0,0.7)

  & > *
    z-index: 20

  &:after
    content: ""
    position: absolute
    top:    0
    bottom: 0
    left:   0
    right:  0
    z-index:  -5

  position: fixed


#registration

  // display: none

  @include modal

  text-align: center

  width: 75%
  height: 300px

  top: 50%
  left: 50%

  margin-top: -150px
  margin-left: -37.5%

  &:after
    background-color: rgba(50,150,255,0.9)

  p
    font-size: x-large

#registration__nickname
  text-align: center
  width: 80%
  margin: 0 auto
  font-size: xx-large

#registration__connect
  width: 30%
  margin: 20px auto 0
  font-size: x-large

$chat-border-width: 4px

#sender
  $button-width: 60px;
  $width-button-border: 2px
  $width-message-border: 3px
  height: $height-sender;
  width: calc(#{$width-chat-square} + 6px);
  margin-left: calc(5% + 5px)
  position: absolute
  left: -$chat-border-width
  margin-top: 7px

  #message-input
    display: inline-block
    width: calc(100% - #{$button-width} - #{$width-button-border} * 2 - #{$width-message-border} * 2 - 2px)
    border: $width-message-border solid rgb(0,0,30)
    height: 100%
    font-size: 18px
    background-color: lightyellow

  #send-button
    cursor: pointer
    width: $button-width
    border: $width-button-border rgb(120,60,0)
    display: inline-block
    background-color: rgb(170,130,10)
    box-shadow: inset -1px -1px 3px black;
    height: 100%
    font-size: 16px
    font-weight: bold
    color: yellow
    text-shadow: 1px 1px grey
    &:active
      background-color: rgb(200,150,10)
      box-shadow: inset 2px 2px 3px gray;
      text-shadow: none


#chat
  display: absolute
  width: $width-chat-square
  margin-left: $marg-sides
  margin-top: $marg-top
  border: $chat-border-width solid black
  box-shadow: 1px 1px 5px black
  height: calc(#{$height-chat-square} - #{$height-sender})
  background-color: white
  overflow-y: scroll

=box-before($content, $color, $bg-color)
    &::before
      display: inline-block
      content: $content
      padding: 4px 10px
      margin: 2px 5px
      color: $color
      border-radius: 4px
      background-color: $bg-color
      width: 60px
      text-align: center

.message-line
  width: 100%
  border-bottom: 1px solid rgba(0,0,30,0.3)
  font: 20px black

.message-line--server
  background-color: grey
  font: 18px Arial
  color: rgb(240,230,240)
  +box-before("server", #444, #aaa)

.message-line--info
  background-color: rgb(50,110,210)
  font: 18px Arial
  color: white
  +box-before("Info", #227, #8be)

.message-line--message
  &::before
    content: attr(data-user)":"
    font-size: 25px
    display: inline-block
    margin: 1px 4px;
